# Python
__pycache__/
*.pyc

# Environment config
app/.env
*.env

# Logs
logs/
*.log
*.json

# Docker artifacts
*.pid
*.sock

# IDE/editor folders
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Misc
.env.*